{% extends "layout.html" %}
{% block body %}
<main>
    <h2>About Us</h2>
    <p  style="color:white">Here at Movie-NATION, we're passionate about movies and making your cinema experience effortless.  We understand the excitement of catching the latest blockbuster or revisiting a classic on the big screen. That's why we created a platform that allows you to browse movies, find showtimes, and book tickets quickly and conveniently – all from the comfort of your own home (or wherever you are on your mobile device).

        We're committed to providing a user-friendly website with a wide selection of movies, clear showtimes, and secure online transactions. Our goal is to be your one-stop shop for everything movie ticketing, ensuring you can focus on the magic of cinema without any hassle.
        
        Feel free to explore our website and discover the movies you've been waiting to see!
       </p>

    <h3 style="color:white">Our Mission</h3>
    <p  style="color:white">
      Our mission is to provide a convenient and user-friendly platform for movie bookings, offering a wide selection of movies and showtimes. We strive to make the movie booking experience enjoyable and accessible for everyone.
    </p>
   <center> <h1 style="color:white"> Developed by Karan</hi></center>
  </main>
  {% endblock %}