{% extends "layout.html" %}
{% block body %}
    <center><div class="modal" id="registrationModal">
        <h2 style="margin-bottom: 20px; color:white; ">Contact Us </h2>
        <form class="registration-form" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="msg">Message:</label>
            <input type="Message" id="Message" name="msg" required>
            <div style="display: flex; justify-content: space-between; margin-top: 20px; ">
                <button type="submit" style="margin-right: 50px;">Submit</button>
            </div>
        </form>
    </div></center>
    {% endblock %}
